*{
	margin: 0px;
	padding: 0px;
}

header{
	background-image: url(airplanes.jpg);
	height:100vh;
	width: 100vw;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-align: right;
	position:absolute;
}

.projects{
	font-family: "Courier New", Monospace;
	color:#DCDCDC;
	margin: 10vh 5.5vw 0px 58vw;
	overflow: scroll;

}

.projects a:hover{
	text-decoration: underline;
}

header h1{
	color: #20B2AA;
	font-weight: 20;
	font-size: 50px;
	padding: 10px;
}

#video{
	padding: 5px;
}

li a{
	text-decoration:none;
	color: #DDA0DD;
}

nav{
	margin: 10px 5.5vw 0px 69.6vw;
}

nav a{
	text-decoration:none;
	color:red;
	border-radius: 5px;
	border: 1px solid white; 
	padding: 5px;
}

nav a:hover{
	background:white;
}

